In [5]:
#Importo as bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Carrego a base de dados
dfGeral = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv", sep=";", encoding="latin1")
dfGeral.head(2)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3

In [3]:
#Seleciono os dados da Baixada Fluminense
dfBaixFlu = dfGeral.loc[dfGeral["regiao"] == "Baixada Fluminense"]
dfBaixFlu.head(2)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,Seropédica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
39,50,1,2003,2003m01,24,3,Itaguaí,3302007,Baixada Fluminense,7,...,NaN,NaN,79,3,0,0,0,0,246,3

In [4]:
#Soma os valores de apreensão de menores por delegacia (aaapai) por delegacia (cisp)
dfApreeMenores = dfBaixFlu.groupby("cisp")["aaapai"].sum().reset_index()
dfApreeMenores.head(2)

   cisp  aaapai
0    48   309.0
1    50   881.0

In [6]:
#Cria o array com os dados da apreensão de menores
arrayApreeMenores = np.array(dfApreeMenores["aaapai"])
arrayApreeMenores

array([ 309.,  881.,  366., 1034., 1218., 2584.,  573., 2260.,  693.,
        804., 2660., 1771.,  171., 1631.,  402., 2953.,  789.,  588.,
        213.])

In [ ]:
#Cálculos estatísticos
media = np.mean(arrayApreeMenores)
mediana = np.median(arrayApreeMenores)
q1 = np.percentile(arrayApreeMenores, 25)
q2 = np.percentile(arrayApreeMenores, 50)
q3 = np.percentile(arrayApreeMenores, 75)
distancia = (media - mediana) / mediana