In [1]:
#Importa a biblioteca para cálculos estatísticos do Python
import numpy as np

#Importa a biblioteca do pandas
import pandas as pd

In [3]:
#Cria o array com os dados
dados = np.array([12, 15, 17, 20 ,22, 25, 28, 30, 35, 40])

#Calcula os quartis
q1 = np.percentile(dados, 25)
q2 = np.percentile(dados, 50)       #É a mediana
q3 = np.percentile(dados, 75)

#Calcula a mediana usando a própria fórmula da biblioteca
mediana = np.median(dados)          #OBS: 'mean' é a média

#Imprime os resultados
print(f'Primeiro quartil (Q1) = {q1}')
print(f'Segundo  quartil (Q2) = {q2}')
print(f'Mediana               = {mediana}')
print(f'Terceiro quartil (Q3) = {q3}')

Primeiro quartil (Q1) = 17.75
Segundo  quartil (Q2) = 23.5
Mediana               = 23.5
Terceiro quartil (Q3) = 29.5

In [4]:
#Leitura de um arquivo .CSV para montar um DataFrame
pesquisa = pd.read_csv('pesquisa_satisfacao.csv', sep = ';')
pesquisa
#OBS: o tipo de dado do tempo de espera é numérico, pois ele ficou alinhado à direita
#     quando fica alinhado à esquerda, o tipo de dado é string.

         Cliente Satisfação  Tempo de Espera (min)
0         Naruto       Alta                      8
1           Goku       Alta                     10
2         Vegeta      Média                     17
3         Sasuke       Alta                      8
4         Madara      Média                     15
5          Luffy      Baixa                      5
6           Zoro       Alta                     22
7          Sanji      Baixa                     26
8         Yusuke      Baixa                     14
9         Kurama      Média                      8
10           Gon      Média                     12
11          Eren      Média                     28
12        Mikasa       Alta                      6
13         Light       Alta                     10
14             L       Alta                     19
15  Peter Parker      Baixa                     21
16   Bruce Wayne       Alta                     18
17        Thanos      Média                     19
18       Edmundo      Baixa                     13
19       Vegetti      Média                     19

In [5]:
#Pega a coluna de tempo de espera e transforma em array
tempo_espera_array = np.array(pesquisa["Tempo de Espera (min)"])

#Calcula os quartis e a mediana
q1_geral = np.percentile(tempo_espera_array, 25)
q2_geral = np.percentile(tempo_espera_array, 50)
q3_geral = np.percentile(tempo_espera_array, 75)
mediana_geral = np.median(tempo_espera_array)

#Imprime os resultados
print(f'Primeiro quartil (Q1) = {q1_geral}')
print(f'Segundo  quartil (Q2) = {q2_geral}')
print(f'Mediana               = {mediana_geral}')
print(f'Terceiro quartil (Q3) = {q3_geral}')

Primeiro quartil (Q1) = 9.5
Segundo  quartil (Q2) = 14.5
Mediana               = 14.5
Terceiro quartil (Q3) = 19.0

In [6]:
#Retira determinados valores da coluna "Tempo de Espera (min)" dos dados "pesquisa"
pesquisa_maiores = pesquisa.loc[pesquisa["Tempo de Espera (min)"] >= q3]
pesquisa_maiores.sort_values(by="Tempo de Espera (min)", ascending= False)

Empty DataFrame
Columns: [Cliente, Satisfação, Tempo de Espera (min)]
Index: []

In [7]:
pesquisa.sort_values(by="Tempo de Espera (min)", ascending= False)

         Cliente Satisfação  Tempo de Espera (min)
11          Eren      Média                     28
7          Sanji      Baixa                     26
6           Zoro       Alta                     22
15  Peter Parker      Baixa                     21
17        Thanos      Média                     19
19       Vegetti      Média                     19
14             L       Alta                     19
16   Bruce Wayne       Alta                     18
2         Vegeta      Média                     17
4         Madara      Média                     15
8         Yusuke      Baixa                     14
18       Edmundo      Baixa                     13
10           Gon      Média                     12
13         Light       Alta                     10
1           Goku       Alta                     10
0         Naruto       Alta                      8
3         Sasuke       Alta                      8
9         Kurama      Média                      8
12        Mikasa       Alta                      6
5          Luffy      Baixa                      5

In [8]:
####################################
#Atividade prática - Parte 2
####################################
pesquisa_satisfacao_alta = pesquisa.loc[pesquisa["Satisfação"] == "Alta"]
pesquisa_satisfacao_alta

        Cliente Satisfação  Tempo de Espera (min)
0        Naruto       Alta                      8
1          Goku       Alta                     10
3        Sasuke       Alta                      8
6          Zoro       Alta                     22
12       Mikasa       Alta                      6
13        Light       Alta                     10
14            L       Alta                     19
16  Bruce Wayne       Alta                     18

In [9]:
#Pega a coluna de tempo de espera e transforma em array
tempo_espera_array_satisfacao_alta = np.array(pesquisa_satisfacao_alta["Tempo de Espera (min)"])
tempo_espera_array_satisfacao_alta

array([ 8, 10,  8, 22,  6, 10, 19, 18])

In [10]:
#Calcula os quartis, a mediana e a média
q1 = np.percentile(tempo_espera_array_satisfacao_alta, 25)
q2 = np.percentile(tempo_espera_array_satisfacao_alta, 50)
q3 = np.percentile(tempo_espera_array_satisfacao_alta, 75)
mediana = np.median(tempo_espera_array_satisfacao_alta)
media = np.mean(tempo_espera_array_satisfacao_alta)

#Imprime os resultados
print(f'Primeiro quartil (Q1) = {q1}')
print(f'Segundo  quartil (Q2) = {q2}')
print(f'Mediana               = {mediana}')
print(f'Terceiro quartil (Q3) = {q3}')
print(f'Média                 = {media}')

#Imprime os resultados do geral
print('**************************************')
print(f'Primeiro quartil geral (Q1) = {q1_geral}')
print(f'Segundo  quartil geral (Q2) = {q2_geral}')
print(f'Mediana geral               = {mediana_geral}')
print(f'Terceiro quartil geral (Q3) = {q3_geral}')

Primeiro quartil (Q1) = 8.0
Segundo  quartil (Q2) = 10.0
Mediana               = 10.0
Terceiro quartil (Q3) = 18.25
Média                 = 12.625
**************************************
Primeiro quartil geral (Q1) = 9.5
Segundo  quartil geral (Q2) = 14.5
Mediana geral               = 14.5
Terceiro quartil geral (Q3) = 19.0