In [3]:
#Importo as bibliotecas
import pandas as pd
import numpy as np

In [4]:
#Carrego a base de dados
dfGeral = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv", sep=";", encoding="latin1")
dfGeral.head(2)

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperibé,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [ ]:
#Seleciono os dados dos municípios da Região dos Lagos
#Fonte: https://sebrae.com.br/Sebrae/Portal%20Sebrae/UFs/RJ/Anexos/SebraePainel_RegiaoLagos.pdf
arrayRegiaoLagos = ["Araruama", "Armação dos Búzios", "Arraial do Cabo", "Cabo Frio",
                    "Casimiro de Abreu", "Iguaba Grande", "São Pedro da Aldeia", "Saquarema", "Silva Jardim"]
dfRegLagos = dfGeral.loc[dfGeral["fmun"].isin(arrayRegiaoLagos)]
dfRegLagos.head(2)

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
4,3300233,Armação dos Búzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3

In [6]:
#Soma os valores de crimes violentos (cvli) por município (fmun)
dfCrimesViolentosRegLagos = dfRegLagos.groupby("fmun")["cvli"].sum().reset_index()
dfCrimesViolentosRegLagos

                  fmun  cvli
0             Araruama   626
1   Armação dos Búzios   166
2      Arraial do Cabo   130
3            Cabo Frio  1201
4    Casimiro de Abreu   184
5        Iguaba Grande    74
6            Saquarema   327
7         Silva Jardim    80
8  São Pedro da Aldeia   459

In [7]:
#Exporto os dados do Data Frame para um arquivo CSV
dfCrimesViolentosRegLagos.to_csv("dfMunicCrimesViolentosRegLagos.csv", ";", index=False)

C:\Users\paulo.frederico\AppData\Local\Temp\ipykernel_17652\1775968405.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  dfCrimesViolentosRegLagos.to_csv("dfMunicCrimesViolentosRegLagos.csv", ";", index=False)

In [8]:
#Crio um array com os dados dos crimes violentos na Região dos Lagos
arrayCrimesViolentos = np.array(dfCrimesViolentosRegLagos["cvli"])
arrayCrimesViolentos

array([ 626,  166,  130, 1201,  184,   74,  327,   80,  459])

In [9]:
#Cálculos estatísticos
media = np.mean(arrayCrimesViolentos)
mediana = np.median(arrayCrimesViolentos)
q1 = np.percentile(arrayCrimesViolentos, 25)
q2 = np.percentile(arrayCrimesViolentos, 50)
q3 = np.percentile(arrayCrimesViolentos, 75)
distancia = (media - mediana) / mediana
iqr = q3 - q1
limSuperior = q3 + (1.5 * iqr)
limInferior = q1 - (1.5 * iqr)

print(f'Média     = {media:.2f}')
print(f'Mediana   = {mediana:.2f}')
print(f'Q1        = {q1:.2f}')
print(f'Q2        = {q2:.2f}')
print(f'Q3        = {q3:.2f}')
print(f'Distância = {distancia * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. = {limSuperior:.2f}')
print(f'Lim. Inf. = {limInferior:.2f}')

Média     = 360.78
Mediana   = 184.00
Q1        = 130.00
Q2        = 184.00
Q3        = 459.00
Distância = 96.07 %
Lim. Sup. = 952.50
Lim. Inf. = -363.50

In [11]:
#Verifico os Outliers
dfCrimesViolentosRegLagosOutliers = dfCrimesViolentosRegLagos.loc[dfCrimesViolentosRegLagos["cvli"] >= limSuperior]
dfCrimesViolentosRegLagosOutliers

        fmun  cvli
3  Cabo Frio  1201